{{ partial "head" . }}
<body class="post-template">

    {{ partial "header" . }}
    {{ partial "navigation" . }}

    <main class="content" role="main">
	    <article class="post">
	        <header>
	        <h1 class="post-title">{{ .Title }}</h1>
	        <div class="post-meta"><time datetime="{{ .Date.Format "02 January 2006" }}">{{ .Date.Format "02 January 2006" }}</time></div>
	        </header>

	        <section class="post-content">
	            {{ .Content }}
	        </section>

	        <section class="post-tags" style="padding-bottom:60px;">
	            <div class="post-meta tags">
	            <i class="fa fa-fw fa-tag"></i>
	            {{ range .Params.tags }}
	            <a href="{{ $.Site.BaseURL }}tags/{{ . }}">{{ . }} </a>
	            {{ end }}
	            </div>
	        </section>
			
			{{ if eq .Site.Params.comments "disqus" }}
	        	{{ template "_internal/disqus.html" . }}
	        {{ end }}
			
			{{ if eq .Site.Params.comments "googleplus" }}
				{{ partial "googleplus-comments" . }}
			{{ end }}

	        <section class="share">
	            <p class="backtotop"><a data-scroll href="#site-head"><i class="fa fa-lg fa-fw fa-angle-double-up"></i></a><a data-scroll class="backtotoptext" href="#site-head"> {{ .Site.Params.backtotopStr }}</a></p>
	            <p class="info prompt">{{ .Site.Params.shareStr }}</p>
	            <a href="http://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}" title="Share on Twitter"
	                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
	                <i class="fa fa-2x fa-fw fa-twitter"></i> <span class="hidden">Twitter</span>
	            </a>
	            <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook"
	                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
	                <i class="fa fa-2x fa-fw fa-facebook" style="margin-left: -8px"></i> <span class="hidden">Facebook</span>
	            </a>
	            <a href="https://plus.google.com/share?url={{ .Permalink }}" title="Share on Google+"
	               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
	                <i class="fa fa-2x fa-fw fa-google-plus" style="margin-left: -8px"></i> <span class="hidden">Google+</span>
	            </a>
	        </section>

	        <footer class="post-footer">
	            {{ partial "author" . }}
	        </footer>
	    </article>
	</main>

    {{ partial "footer" . }}
    {{ partial "js" . }}

</body>
</html>
