<section class="author">
    <div class="authorimage" style="background: url({{ .Site.BaseURL }}img/me.jpeg)"></div>
    <h4>{{ .Site.Params.name }}</h4>
    <p class="bio">{{  .Site.Params.bio | markdownify }}</p>
    <p class="meta">
      {{ with .Site.Params.location }}<i class="fa fa-fw fa-map-marker"></i> {{ . }}{{ end }}
    </p>
</section>
