<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
    <meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}">
    <meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
    {{ .Hugo.Generator }}
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}img/favicon.ico">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.2/normalize.min.css">

    {{ "<!-- Stylesheets -->" | safeHTML }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/screen.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/github.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css">

    {{ "<!-- Stylesheet for theme color -->" | safeHTML }}
    {{ partial (printf "themes/%s-theme" .Site.Params.themeColor) . }}
</head>
